body {
    background-image: url("../static/images/abstract-ancient-antique.jpg");
}
nav {
    background-color: black;
}
h1 {
    text-align: center;
    color: black;
}
tbody {
    background-color: rgba(128, 128, 128, 0.219);
}
thead {
    background-color: rgba(128, 128, 128, 0.5);
}