/* TODO: Add color schemes to certain classes/ tags whatever boo */
body {
    background-image: url("../static/images/landing-bg.jpg");
} 
nav {
    background-color: black;
}
table {
    border-collapse: separate;
    border-spacing: 1em;
}
tbody {
    background-color: rgba(128, 128, 128, 0.616);
}
thead {
    background-color: rgba(128, 128, 128, 0.900);
}

