<html>
	<head>
		<!-- CSS plugin Bootstrap --->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>About Us</title>
	</head>
	<style>
			body {background-color: rgba(60, 110, 113, 1);}
			div {background-color: rgba(237, 221, 212, 1);}
			nav {background-color: black}
			h1 {text-align: center}
			h1 {color: rgba(58, 46, 57, 1)}
			h2 {text-align: center}
			h6 {text-align: center}
			img {border-style: solid;
  				border-width: 3px;}
			
  			#rcorners1 {
  				border-radius: 25px;
  			}

			.rotateimg {
				-webkit-transform:rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
				padding-top: 5px;
				padding-bottom: 60px;
				margin-left: auto;
  			margin-right: auto;
			}
			.card-subtitle {
				padding-top:20px;
			}
			.row {
				margin: auto;
			}
			.card {
				margin: auto;
				border: none;
				text-align: center;
			}
			.card-text {
				text-align: center;
			}
			.card-link {
				text-align: center;
				align: center;
			}
			tr {
				padding-top:10px;
			}
	</style>

	<body>
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-header navbar-brand" href="{{url_for('index')}}"> Welcome</a>
			<a class="nav-item nav-link" href="{{url_for('books')}}">Books</a>
			<a class="nav-item nav-link" href="{{url_for('publishers')}}">Publishers</a>
			<a class="nav-item nav-link" href="{{url_for('authors')}}">Authors</a>
			<a class="nav-item nav-link" href="{{url_for('about')}}" >About</a>
			<form class="form-inline my-2 my-lg-0" action="{{url_for('searchresults')}}" method="POST">	
				<input type="text" placeholder="Search" name="variable" >
                <button class="btn btn-outline-success my-2 my-sm-0"  type=”submit”>Search</button>			
            </form>
		</nav> 


	<h1 class="display-1" style="color:white;">About Us</h1>
	</br>

	<div class="container text-dark justify-content-md-center" id =rcorners1>
		<br/>

		

		<div class="container-fluid">
			<div class="row">
				<div class="card" style="width: 24rem;">
					<div class="card-body">
						<h2 class="card-title">Amer Muhanna</h2>
						<img class="rounded"  src="https://i.imgur.com/HKWBeX7.jpg" alt="IMG here" width = "auto" height = "350px" class = "center">
						</br>
						<h6 class="card-subtitle mb-2 text-muted">Backend Developer</h6>
						<p class="card-text">Math major that enjoys sports and video games</p>
						<a href="{{url_for('individual_book', variable=1)}}" class="card-link">Fave Book</a>
					</br>
						<table align = "center">
							<tr>
								<td>Number of commits: </td>
								<td>20</td>
							</tr>
							<tr>
								<td>Number of issues: </td>
								<td>5</td>
							</tr>
							<tr>
								<td>Number of unit tests: </td>
								<td>0</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="card" style="width: 24rem;">
					<div class="card-body">
						<h2 class="card-title">Yulissa Montes</h2>
						<img class="rounded" src="https://i.imgur.com/FkGMowA.jpg" alt="IMG here" width = "auto" height = "350px" class = "center">
						</br>
						<h6 class="card-subtitle mb-2 text-muted">Frontend Developer</h6>
						<p class="card-text">Math major at UT that enjoys reading and hanging out with her dog.</p>
						<a href="{{url_for('individual_book', variable=13)}}" class="card-link">Fave Book</a>
						</br>
						<table align = "center">
							<tr>
								<td>Number of commits: </td>
								<td>22</td>
							</tr>
							<tr>
								<td>Number of issues: </td>
								<td>9</td>
							</tr>
							<tr>
								<td>Number of unit tests:  </td>
								<td>0</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card" style="width: 24rem;">
					<div class="card-body">
						<h2 class="card-title">Alexander Halsey</h2>
						<img class="rounded" src="https://i.imgur.com/0WcXJsF.jpg" alt="IMG here" width = "auto" height = "350px" class="rotateimg" class = "center">
						</br>
						<h6 class="card-subtitle mb-2 text-muted">Backend Developer</h6>
						<p class="card-text">Math and physics major at UT who enjoys eating good food and playing basketball.</p>
						<a href="{{url_for('individual_book', variable=35)}}" class="card-link">Fave Book</a>
					</br>
					<table align = "center">
						<tr>
							<td>Number of commits: </td>
							<td>10</td>
						</tr>
						<tr>
							<td>Number of issues: </td>
							<td>10</td>
						</tr>
						<tr>
							<td>Number of unit tests:  </td>
							<td>5</td>
						</tr>
					</table>
				</div>
			</div>
				<div class="card" style="width: 24rem;">
					<div class="card-body">
						<h2 class="card-title">Zachary Cartwright</h2>
						<img class="rounded" src="https://i.imgur.com/Ocw0Vso.jpg" alt="IMG here" width = "auto" height = "350px" class = "center">
						</br>
						<h6 class="card-subtitle mb-2 text-muted">Backend Developer</h6>
						<p class="card-text">Physics major at the UT that enjoys sailing and skateboarding.</p>
						<a href="{{url_for('individual_book', variable=11)}}" class="card-link">Fave Book</a>
						</br>
						<table align = "center">
							<tr>
								<td>Number of commits: </td>
								<td>9</td>
							</tr>
							<tr>
								<td>Number of issues: </td>
								<td>8</td>
							</tr>
							<tr>
								<td>Number of unit tests:  </td>
								<td>9</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card" style="width: 24rem;">
					<div class="card-body">
						<h2 class="card-title">Bonnie Bolton</h2>
						<img class="rounded" src="https://i.imgur.com/0yMjENT.jpg" alt="IMG here" width = "auto" height = "310px">
						</br>
						<h6 class="card-subtitle mb-2 text-muted">Frontend Developer</h6>
						<p class="card-text">Arts and Entertainment Technology major at UT that loves painting and going for walks with her pets.</p>
						<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another link</a>
						</br>
						<table align = "center">
							<tr>
								<td>Number of commits: </td>
								<td>9</td>
							</tr>
							<tr>
								<td>Number of issues: </td>
								<td>6</td>
							</tr>
							<tr>
								<td>Number of unit tests:  </td>
								<td>8</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- end of container class--->
		<br/>
		<p> 
			<h4>
				Tools Used:
			</h4>
			<a href="https://getbootstrap.com/"> Bootstrap</a>
			<br/>
			<a href="http://jinja.pocoo.org/"> Jinja</a>
			<br/>
			<a href="https://www.sqlalchemy.org/"> SQLAlchemy</a>
			<br/>
			<a href="http://flask.pocoo.org/"> Flask</a>
			<br/>
			<a href="https://cloud.google.com/?"> GCP</a>
			<br/>
		</p>
		<p>
				<a href="https://gitlab.com/amermuhanna11/project4temp">Gitlab Repo</a>
		</p>
		<p>
				<a href="https://gitlab.com/amermuhanna11/project4temp/issues">Gitlab Issue Tracker</a>
		</p>
		<p>
				<a href="https://gitlab.com/amermuhanna11/project4temp/wikis/home">Gitlab Wiki</a>
		</p>

		<p>
			<a href="{{url_for('test')}}">Unit Tests</a>
		</p>
			<br/>
			<!--
			<a href="hello.html"> <h2>Main Menu </h2></a> <br/>
			-->
	</div>
	</br>
	</br>
	</body>
</html>


