<html>
	<head>
        <!-- CSS plugin Bootstrap --->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
        <script src= "//code.jquery.com/jquery-3.3.1.js"></script>
		<script src = "//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		
		<style>
			div {background-color: rgba(237, 221, 212, 1);}
			nav {background-color: black}
			h1 {text-align: center}
			h1 {color: rgba(60, 110, 113, 1)}

			#rcorners1 {
                border-radius: 25px;
            }

            .button {
                background-color: #e7e7e7;
                border: none;
                color: black;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                overflow: hidden;
                white-space: nowrap;
            }
		</style>
		
		<title>Publisher Page</title>

	</head>
	<body>
		<body style="background-color: rgb(58,46,57)">
			<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-header navbar-brand" href="{{url_for('index')}}"> Welcome</a>
			<a class="nav-item nav-link" href="{{url_for('books')}}">Books</a>
			<a class="nav-item nav-link" href="{{url_for('publishers')}}">Publishers</a>
			<a class="nav-item nav-link" href="{{url_for('authors')}}">Authors</a>
			<a class="nav-item nav-link" href="{{url_for('about')}}" >About</a>
			<form class="form-inline my-2 my-lg-0" action="{{url_for('searchresults')}}" method="POST">	
					<input type="text" placeholder="Search" name="variable" >
					<button class="btn btn-outline-success my-2 my-sm-0"  type=”submit”>Search</button>
			</form>
		</nav> 

		<h1 class="display-1" style="color:white;">Browse Publishers</h1>
		</br>

		<div class="container text-dark justify-content-md-center" id = rcorners1>
		
		</br>

		<div class = "table-responsive">
			<table  class = "table table-bordered" id="example">
			
				<thead>
					  <tr>
					<th scope="col" >Publishers</th> 
					<th scope="col" >Books Published</th> 
					<th scope="col" >Authors Published</th> 
					<th scope="col" >Website</th> 
					<th scope="col" >Wikipedia Page</th> 
					  </tr>
				</thead>
				<tbody>
                
						{% for i in books %}
							{% if i.publisher_name not in publisher_set %}
							<!--{{publisher_set.add(i.publisher_name)}} -->
							<tr>
								<td scope="row"> <a href="{{url_for('individual_publisher',variable=i.id)}}">{{i.publisher_name}}</a> <br/> </td>
								<td>
										{% for j in books %}
											{% if j.publisher_name == i.publisher_name %}
											<a href="{{url_for('individual_book',variable=j.id)}}">{{j.title}}</a>
												<br/><br/>
											{% endif %}
                    
										{% endfor %}   
								</td>
								<td>
										{% for k in books %}
											{% if k.publisher_name == i.publisher_name and k.author_name not in author_set %}
											<!--{{author_set.add(k.author_name)}}-->
											<a href="{{url_for('individual_author',variable=k.id)}}">{{k.author_name}}</a>
												<br/><br/>
											{% endif %}
										
										{% endfor %}   
										<!--{{author_set.clear()}}-->
								</td>
								<td><a href = {{i.publisher_website}}>{{i.publisher_website}}</a></td>
								<td><a href = {{i.publisher_wiki_url}}>{{i.publisher_wiki_url}}</a></td>
								
							</tr>
							{% endif %}
						
						{% endfor %}    
				   
			</tbody>
			
		</table>
	</div>
			<script>
				$(document).ready(function() {
				$('#example').DataTable();
				} );  
			</script>
	</body>
</html>