<html>
	<head>
		
		<!-- CSS plugin Bootstrap --->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	</head>
	<!-- List of publishers with links to each on actual pub page-->
	<!-- Need 5 attributes: Name, location, parent company, description,
		website, contact info, image, links to author + books -->
        <style>
                body {background-color: rgba(60, 110, 113, 1);}
                div {background-color: rgba(237, 221, 212, 1);}
                nav {background-color: black}
                h1 {text-align: center}
                h1 {color: rgba(58, 46, 57, 1)}

                #rcorners1 { 
                    border-radius: 25px; 
                }
            </style>
            <body>
                <nav class="navbar navbar-inverse">
                    <a class="navbar-header navbar-brand" href="{{url_for('index')}}"> Welcome</a>
                    <a class="nav-item nav-link" href="{{url_for('books')}}">Books</a>
                    <a class="nav-item nav-link" href="{{url_for('publishers')}}">Publishers</a>
                    <a class="nav-item nav-link" href="{{url_for('authors')}}">Authors</a>
                    <a class="nav-item nav-link" href="{{url_for('about')}}" >About</a>
                    <form class="form-inline my-2 my-lg-0" action="{{url_for('searchresults')}}" method="POST">	
                        <input type="text" placeholder="Search" name="variable" >
                        <button class="btn btn-outline-success my-2 my-sm-0"  type=”submit”>Search</button>			
                    </form>
                </nav> 
                
                <br />

                <div class="container text-dark justify-content-md-center" id=rcorners1>
                    <br />                
                    <h1>
                        {{author_name}}
                    </h1>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <p><img src = {{author_image_url}} width = "300px" height = "auto" align = "middle"></p>
                        </div>
                        <div class="col">
                        <h4>
                            Description:
                        </h4>
                        <p>{{author_description}}</p>
                        <h4>
                            Date of Birth:
                        </h4>
                        <p>{{author_born}}</p>
                        <h4>
                            Nationality:
                        </h4>
                        <p>
                            {{author_nationality}}           
                        </p>
                        <h4>
                            Wikipedia Page:
                        </h4>
                        <p>
                            <a href = {{author_wikipedia_url}}>{{author_wikipedia_url}}</a>           
                        </p>
                        <h4>
                            Book(s):
                        </h4>
                        <p>  
                                         
        			        {% for i in books %}
        				    <div> 
                                {%if i.author_name == author_name %}
                                    <a href="{{url_for('individual_book',variable=i.id)}}">{{i.title}}</a>
                            <br/> <br/>
                                {% endif %}
        				    </div>
        			        {% endfor %}
        		
                   
                        </p>
                        
                        <h4>
                            Publisher(s):
                       </h4>
                        <p>
                            
                            {% for i in books %}
                                {%if i.author_name == author_name and i.publisher_name not in publisher_set %}
                                    
                                    <!--{{publisher_set.add(i.publisher_name)}}-->
                                    <a href="{{url_for('individual_publisher',variable=i.id)}}">{{i.publisher_name}}</a> <br/> <br/>  
                                
                                {% endif %}               
                            {% endfor %}
                        </p>
                            
                        </br>
                    </div>
                    </br> 
            </div>
            </br> 
            </div>
            </br> 
        </body>
    </html>
        