<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/publishers.css">
		<!-- CSS plugin Bootstrap --->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
        <style>
            div {background-color: rgba(237, 221, 212, 1);}
            nav {background-color: black}
            h1 {text-align: center}
            h1 {color: rgba(60, 110, 113, 1)}

            #rcorners1 { border-radius: 25px; }

        </style>
	</head>
	<!-- List of publishers with links to each on actual pub page-->
	<!-- Need 5 attributes: Name, location, parent company, description,
		website, contact info, image, links to author + books -->
	<body>
		<body style="background-color: rgb(58,46,57)">
		<nav class="navbar navbar-inverse">
			<a class="navbar-header navbar-brand" href="{{url_for('index')}}"> Welcome</a>
			<a class="nav-item nav-link" href="{{url_for('books')}}">Books</a>
			<a class="nav-item nav-link" href="{{url_for('publishers')}}">Publishers</a>
			<a class="nav-item nav-link" href="{{url_for('authors')}}">Authors</a>
            <a class="nav-item nav-link" href="{{url_for('about')}}" >About</a>
            <form class="form-inline my-2 my-lg-0" action="{{url_for('searchresults')}}" method="POST">	
				<input type="text" placeholder="Search" name="variable" >
                <button class="btn btn-outline-success my-2 my-sm-0"  type=”submit”>Search</button>			
            </form>
		</nav> 
		<br />
        <div class="container text-dark justify-content-md-center" id = rcorners1>
		      <br />
                <h1>
                    {{publisher_name}}
                </h1>
                <p><img src = {{publisher_image_url}} width = "auto" height = "150px" align = "middle"></p>
                <h4>
                    Description:
                </h4>
                <p>{{publisher_description}}</p>
                <h4>
                    Website:
                </h4>
                <p><a href = {{publisher_website}}>{{publisher_website}}</a></p>
                
                <h4>
                    Wikipedia Page:
                </h4>
                <p>
                    <a href = {{publisher_wiki_url}}>{{publisher_wiki_url}}</a>           
                </p>
                <h4>
                    Book(s):
                </h4>
                <p>  
                                 
			        {% for i in books %}
				    
                        {%if i.publisher_name == publisher_name %}
                            <a href="{{url_for('individual_book',variable=i.id)}}">{{i.title}}</a>
                    <br/> <br/>
                        {% endif %}
				    
			        {% endfor %}
		
           
                </p>
                
                <h4>
                    Author(s):
               </h4>
                <p>
                    {% for i in books %}
                    
                        {%if i.publisher_name == publisher_name and i.author_name not in author_set%}
                            <!--{{author_set.add(i.author_name)}}-->
                            <a href="{{url_for('individual_author',variable=i.id)}}">{{i.author_name}}</a> <br/><br/>                                                       
                        {% endif %}
                     
                    
                    {% endfor %}
                </p>
                    
                <br/>
            
            
            </div>
            <hr/>
            <br/>            
            </body>
        </head>
    </html>
        