<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/books.css">
        <!-- CSS plugin Bootstrap --->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            div {background-color: rgba(237, 221, 212, 1);}
            nav {background-color: black}
            h1 {text-align: center}
            h1 {color: rgba(58, 46, 57, 1)}

            #rcorners1 { border-radius: 25px; }

        </style>
    </head>
    
        <body>
            <body style="background-image:url(../static/images/abstract-ancient-antique.jpg)">
            <nav class="navbar navbar-inverse">
                <a class="navbar-header navbar-brand" href="{{url_for('index')}}"> Welcome</a>
                <a class="nav-item nav-link" href="{{url_for('books')}}">Books</a>
                <a class="nav-item nav-link" href="{{url_for('publishers')}}">Publishers</a>
                <a class="nav-item nav-link" href="{{url_for('authors')}}">Authors</a>
                <a class="nav-item nav-link" href="{{url_for('about')}}" >About</a>
                <form class="form-inline my-2 my-lg-0" action="{{url_for('searchresults')}}" method="POST">	
                    <input type="text" placeholder="Search" name="variable" >
                    <button class="btn btn-outline-success my-2 my-sm-0"  type=”submit”>Search</button>			
                </form>
            </nav>
            <br/>
            
            <div class="container text-dark justify-content-md-center" id = rcorners1>
                <br/>
            
                <h1>
                    {{title}}
                </h1>

                <br/>
                <div class="row">
                    <div class="col">
                        <p>
                    
                        <img src = {{book_image_url}} width = "300px" height = "auto" align = "middle">
                        </p>
                    </div>
                    <div class="col">
                        <h4>
                            Author:
                        </h4>
                        <p><a href="{{url_for('individual_author',variable=id)}}">{{author_name}}</a></p>
                        <h4>
                            Description:
                        </h4>
                        <p>{{book_description}}</p>
                        <h4>
                            ISBN:
                        </h4>
                        <p>
                            {{isbn}}           
                        </p>
                        <h4>
                            Publication Date:
                        </h4>
                        <p>
                            {{publication_date}}           
                        </p>
                        <h4>
                            Google ID:
                        </h4>
                        <p>
                            {{google_id}}            
                        </p>
                        
                        <h4>
                            Publisher:
                       </h4>
                        <p>
                                <a href="{{url_for('individual_publisher',variable=id)}}">{{publisher_name}}</a>
                        </p>
                            
                        <br/>
                    </div>
                </div>

            </br>
        </div>
        <br/>     

        </body>
    </html>
        