<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/books.css">
        <!-- CSS plugin Bootstrap --->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
        <script src= "//code.jquery.com/jquery-3.3.1.js"></script>
        <script src = "//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

        <title>Book Page</title>

        <style>         
            div {background-color: rgba(237, 221, 212, 1);}
            nav {background-color: black}
            h1 {text-align: center}
            h1 {color: rgba(58, 46, 57, 1)}

            #rcorners1 {
                border-radius: 25px;
            }

            .button {
                background-color: #e7e7e7;
                border: none;
                color: black;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                overflow: hidden;
                white-space: nowrap;
            }
        </style>

    </head>



    <body style="background-image:url(../static/images/abstract-ancient-antique.jpg)">

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-header navbar-brand" href="{{url_for('index')}}"> Welcome</a>
            <a class="nav-item nav-link" href="{{url_for('books')}}">Books</a>
            <a class="nav-item nav-link" href="{{url_for('publishers')}}">Publishers</a>
            <a class="nav-item nav-link" href="{{url_for('authors')}}">Authors</a>
            <a class="nav-item nav-link" href="{{url_for('about')}}" >About</a>
            <form class="form-inline my-2 my-lg-0" action="{{url_for('searchresults')}}" method="POST">	
				<input type="text" placeholder="Search" name="variable" >
                <button class="btn btn-outline-success my-2 my-sm-0"  type=”submit”>Search</button>			
            </form>
        </nav>


        <h1 class="display-1" style="color:white;">Browse Books</h1>
        </br>

        <div class="container text-dark justify-content-md-center" id = rcorners1>
        <br/>
        <div class = "table-responsive">
            <table  class = "table table-bordered" id="example">
            <col width="200">   
            <thead>
                <tr>
                    <th scope="col" >Title</th>              
                    <th scope="col" >Author</th>  
                    <th scope="col" >Publisher</th>  
                    <th scope="col" >Publication Date</th>
                    <th scope="col" >ISBN</th>
                    <th scope="col" >Google ID</th> 
                  </tr>
            </thead>
            <tbody>
                
                    {% for i in books %} 
                    <tr >
                        <td scope="row"> <a href="{{url_for('individual_book',variable=i.id)}}">{{i.title}}</a> <br/> <img src = {{i.book_image_url}} width = "auto" height = "100px"> </td>
                        <td><a href="{{url_for('individual_author',variable=i.id)}}">{{i.author_name}}</a> <br/> </td>
                        <td><a href="{{url_for('individual_publisher',variable=i.id)}}">{{i.publisher_name}}</a></td>
                        <td>{{i.publication_date}}</td>
                        <td>{{i.isbn}}  </td>
                        <td>{{i.google_id}}</td>                          
                    </tr>
                    {% endfor %}    
               
            </tbody>        
        </table>
    </div>

        <script>
            $(document).ready(function() {
            $('#example').DataTable();
            } );  
        </script>
           
    </body>
</html>
            