<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
		<!-- CSS plugin Bootstrap --->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Welcome</title>
		<style>
			.container{
				position: relative; 
				top: 50%;
				transform: translateY(40%);}
			.jumbotron{
				border-style: solid;
  				border-width: 2px;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-header navbar-brand" href="{{url_for('index')}}"> Welcome</a>
			<a class="nav-item nav-link" href="{{url_for('books')}}">Books</a>
			<a class="nav-item nav-link" href="{{url_for('publishers')}}">Publishers</a>
			<a class="nav-item nav-link" href="{{url_for('authors')}}">Authors</a>
			<a class="nav-item nav-link" href="{{url_for('about')}}" >About</a>
			<form class="form-inline my-2 my-lg-0" action="{{url_for('searchresults')}}" method="POST">	
					<input type="text" placeholder="Search" name="variable" >
					<button class="btn btn-outline-success my-2 my-sm-0"  type=”submit”>Search</button>
			</form>
			  
		</nav> 
        <body style="background-image:url(../static/images/landing-bg.jpg)">
        	<div class="container h-100">
        		<div class="row align-items-center h-100">
        			<div class="col-6 mx-auto">
        				<div class="jumbotron text-center">
        					<h1 class="display-4"> Welcome! </h1>
        					<p class="lead"> We are so happy to see a fellow book lover!</p>
        					<hr class="my-4">
							  <p>On our site you can get more information about all your favorite books, authors and publishers. Happy reading!</p>
							  
        				</div>
	    			</div>
	    		</div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </body>
    </html>
    