<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/publishers.css">
		<!-- CSS plugin Bootstrap --->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
		<style>
			div {background-color: rgba(237, 221, 212, 1);}
			nav {background-color: black}
			h1 {text-align: center}
			h1 {color: rgba(60, 110, 113, 1)}
            .button {
                background-color: #e7e7e7;
                border: none;
                color: black;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                overflow: hidden;
                white-space: nowrap;
            }
		</style>
		
		<title>Search Results</title>

	</head>
	<body>
		<body style="background-color: rgb(58,46,57)">
			<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-header navbar-brand" href="{{url_for('index')}}"> Welcome</a>
			<a class="nav-item nav-link" href="{{url_for('books')}}">Books</a>
			<a class="nav-item nav-link" href="{{url_for('publishers')}}">Publishers</a>
			<a class="nav-item nav-link" href="{{url_for('authors')}}">Authors</a>
			<a class="nav-item nav-link" href="{{url_for('about')}}" >About</a>
			<form class="form-inline my-2 my-lg-0" action="{{url_for('searchresults')}}" method="POST">	
				<input type="text" placeholder="Search" name="variable" >
                <button class="btn btn-outline-success my-2 my-sm-0"  type=”submit”>Search</button>			
            </form>
        </nav> 
        <div class="container text-dark justify-content-md-center">  
            
        <h1>Search Results</h1>
        {% for i in book %}
            
            <p><a href="{{url_for('individual_book',variable=i.id)}}">{{i.title}}</a></p>
            <p>{{i.book_description}}</p>
            
        {% endfor %}

        {% for i in author %}
            {% if i.author_name not in author_set %}
            <!--{{author_set.add(i.author_name)}} -->
            <p><a href="{{url_for('individual_author',variable=i.id)}}">{{i.author_name}}</a></p>
            <p>{{i.author_description}}</p>
            {% endif %}
        {% endfor %}

    
        {% for i in publisher %}
            {% if i.publisher_name not in publisher_set %}
            <!--{{publisher_set.add(i.publisher_name)}} -->
            <p><a href="{{url_for('individual_publisher',variable=i.id)}}">{{i.publisher_name}}</a></p>
            <p>{{i.publisher_description}}</p>
            {% endif %}
        {% endfor %}
        <p>  </p>
    
        </div>
    </body>
</html>